* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

/* main section styling */

/* hero section styling */
.hero {
    min-height: 40vh;
    background-image: url(../images/nalondo14.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero .content {
    background: linear-gradient(to right, rgb(0, 0, 0, .8), rgb(0, 0, 0, .5), rgb(0, 0, 0, .8));
    backdrop-filter: blur(5px);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .content .title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

/* school description styling */
.school-desc {
    color: black;

}

.school-desc .quote {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;

}

.school-desc .quote h1 {

    position: relative;
    font-size: 3rem;

    &::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 5px;
        top: 25%;
        left: -220%;
        background-color: black;
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 5px;
        top: 25%;
        left: 120%;
        background-color: black;
    }
}

.school-desc .text {
    /* border: 1px solid red; */
    /* padding: 0 2rem; */
}

.school-desc .text p {
    /* border: 1px solid red; */
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-style: italic;
    /* padding-bottom: 2rem; */
}

/* history section styling */
.history{
    max-width: 90%;
    margin: auto;
    background-color: rgb(232, 232, 232);
}

.history .heading{
    text-align: center;
}
.history .chunks {

}
.history .chunks .chunk{
    display: flex;
}
.history .chunks .chunk > div{
    flex:0 0 50%;
}
.history .chunks .chunk .title{
    display: grid;
    place-items: center;

}
.history .chunks .chunk .title h3{
    color: orange;
    font-size: 1.2rem;
}
.history .chunks .chunk .description {
    padding: 1rem;
}
.history .chunks .chunk .description p{
    padding: .5rem 0;
}