* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid green;     */
    /* color-scheme: dark light; */
}

/* main section styling */
main {
    /* background-color: rgb(232, 232, 232); */
    background-color: white;
}

/* hero section styling */
.hero {
    min-height: 40vh;
    background-image: url(../images/nalondo14.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero .content {
    background: linear-gradient(to right, rgb(0, 0, 0, .8), rgb(0, 0, 0, .5), rgb(0, 0, 0, .8));
    backdrop-filter: blur(5px);
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .content .title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

/* school description styling */
.school-desc {
    color: black;

}

.school-desc .quote {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;

}

.school-desc .quote h1 {

    position: relative;
    font-size: 3rem;

    &::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 5px;
        top: 25%;
        left: -220%;
        background-color: black;
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 5px;
        top: 25%;
        left: 120%;
        background-color: black;
    }
}

.school-desc .text {
    /* border: 1px solid red; */
    /* padding: 0 2rem; */
    font-size: 1.2rem;
}

.school-desc .text p {
    /* border: 1px solid red; */
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-style: italic;
    padding-bottom: 2rem;
}

/* history section styling */
.history {
    max-width: 90%;
    margin: auto;
    background-color: white;
    /* box-shadow: 7px 8px 14px 0px rgba(0, 0, 0, 0.75); */
}

.history .heading {
    text-align: center;
    padding: 2rem 0;
}

.history .chunks {}

.history .chunks .chunk {
    display: flex;
}

.history .chunks .chunk>div {
    flex: 0 0 50%;
}

.history .chunks .chunk .title {
    display: grid;
    place-items: center;

}

.history .chunks .chunk .title h3 {
    color: orange;
    font-size: 1.2rem;
}

.history .chunks .chunk .description {
    padding: 1rem;
}

.history .chunks .chunk .description p {
    padding: .5rem 0;
    font-size: 1.2rem;
}

/* school values section styling */
.school-values {
    margin: 5rem auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.school-values .mmv {
    flex: 0 0 50%;
    /* width: 210px; */
    /* height: 254px;    */
    /* border-radius: 4px; */
    /* background: #212121; */
    display: flex;

    /* gap: .5rem; */
    /* padding: .4em; */
}

.school-values .mmv>div {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    /* border-radius: 2px; */
    transition: all .5s linear;
    background: #212121;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        flex: 4;
    }

    &:hover h3 {
        transform: rotate(0);
    }

    &:hover p {
        transform: translateX(0);
        opacity: 1;

    }
}

.school-values .mmv div h3 {
    /* min-width: 14em; */
    /* padding: .5em; */
    /* text-align: center;  */
    /* transform: rotate(-90deg); */
    transition: all .5s linear;
    /* text-transform: uppercase; */
    color: orange;
    /* letter-spacing: .1em; */
    font-size: 1.5rem;
    border: 1px solid red;

}

.school-values .mmv div p {
    /* border: 1px solid orange; */
    /* transform: rotate(-90deg); */
    transition: all .5s;
    opacity: 0;
    font-size: 1.2rem;
    color: white;
    transform: translateX(500%);
}

/* core-values styling */
.core-values {
    flex: 0 0 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 60vh;
}

.core-values h1 {
    /* border: 1px solid red; */
    text-align: center;
}

.core-values ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: 700;
    /* border: 1px solid red; */
    list-style: none;
    flex-grow: 1;
    counter-reset: li;
}

.core-values ul li {
    background-color: rgb(9, 9, 143);
    color: white;
    margin-left: 3rem;
    position: relative;
    padding: .5rem 2rem;
    transition: all .5s cubic-bezier(.58, .29, .83, .67);
    cursor: default;
    transform: translateX(80%);

    &::before {
        content: "0" counter(li);
        counter-increment: li;
        position: absolute;
        background-color: white;
        color: rgb(9, 9, 143);
        /* top: -50%; */
        left: -2rem;
        top: -0.5rem;
        padding: .5rem .5rem;
        box-shadow: -9px 6px 5px 1px rgba(0, 0, 0, 0.75);
    }

}





/* statistics section styling */
.statistics {
    background-image: url(../images/nalondo2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 40dvh;
    display: grid;
    place-items: center;
    margin: 3rem 0;
}

.statistics .container {
    background-color: rgb(9, 9, 143, .8);
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

}

.statistics .container .counters {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    min-width: 90%;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 3rem 0;
}

.statistics .container .counters .counter {
    color: white;
    /* max-width: 30%; */
    font-weight: 700;
    text-align: center;
    transition: .3s ease;
    /* border: 1px solid red; */
    cursor: default;

    &:hover {
        scale: 1.1;
    }
}

.statistics .container .counters .counter span {
    color: orange;
    font-size: 3rem;
    font-weight: 700;

}

.statistics .container .counters .counter h3 {

    font-size: 2rem;
}

/* anthem section styling */
.traditions {
    border: 1px solid red;
    /* min-height: 75dvh; */
}

.traditions .container {
    max-width: 80%;
    margin: 2rem auto;

}

.traditions .container .toggle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

}

a {
    text-decoration: none;
}

.traditions .container .toggle .anthem {
    background-color: rgb(9, 9, 143);
    flex: 1;

    &:hover {
        background-color: orange;
    }

}

.traditions .container .toggle .anthem a {
    color: white;
}

.traditions .container .toggle .prayer {
    background-color: rgb(201, 201, 201);
    flex: 1;

    &:hover {
        background-color: orange;

    }

    &:hover a {
        color: white;
    }
}

.traditions .container .toggle .prayer a {
    color: black;
}

.traditions .container .content {
    /* border: 1px solid green; */
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

.traditions .container .content>div {
    flex: 0 0 100%;
    padding: 1.5rem 0;
    background-color: white;
    scroll-snap-align: start;
    text-align: center;
}

.traditions .container .content>div h2 {
    font-size: 2rem;

}

.traditions .container .content>div h3 {
    font-size: 1.5rem;
    font-style: italic;
}

.traditions .container .content>div p {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-style: italic;
    /* font-weight: lighter; */
    color: rgb(82, 82, 82);
}