*{
    margin: 0;
    padding:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
 
    --primary-color: #031a32;
    --success-color:#00bf8e;
    --warning-color:yellow;
    --danger-color:red;
    --danger-vaiant--color:maroon;
    --white-color:white;
    --black-color:black;
    --bg-color:blue;
    --bg1-color:#2e3267;
    --bg2-color:#031a32;

    --container-width-1g:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;

}
body{
    font-family:Arial, sans-serif;
    line-height: 1.7;
    color: var(--white-color);
    background-color: #031a32;
}
.container{
    width: var(--container-width-1g);
    margin: 0 auto;
}
section{
    padding:6rem 0;
}
section h2{
    text-align:center;
    margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
    color: orange;

}
h1{
    font-size: 2.4rem;
    color: orange;

}
h2{
    font-size: 3rem;
    color: orange;
    font-weight: bold;
  
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color:white;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;

}
.btn{
    display: inline-block;
    background-color: white;
    color:var(--black-color);
    padding:1rem 2rem ;
    border: 1px solid transparent;
    font-weight: 500;
}
.btn:hover{
    background: transparent;
    color:white;
    border-color:white;

}
.btn-primary{
    background:orange;
    color:var(--white-color);
   margin-top: 4rem;
}

/*====NAVBAR====*/
nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index:1;
}
 /*change navbar styles on scroll using js */
 .window-scroll{
    background: var(--bg1-color);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
 }
.nav_container{
    height: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
nav button{
    display:none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: bold;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color:orange;
}
/* Add a line below the link when hovered */
.nav_menu a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the position as needed */
    width: 100%;
    height: 2px; /* Height of the line */
    background-color: #fff; /* Color of the line */
    transform: scaleX(0); /* Initially, the line is not visible */
    transform-origin: center; /* Set the transform origin to center */
    transition: transform 0.3s ease; /* Add animation for smoother transition */
    }
    
    .nav_menu a:hover::after {
    transform: scaleX(1); /* When hovered, make the line visible */
    }
    
    /* Add a background color for the active link */
    .nav_menu a.active {
    background-color: #062744;
    /* Add animation for smoother transition */
    transition: background-color 0.3s ease;
    }
    
    /* Add a line below the active link */
    .nav_menu a.active::after {
    transform: scaleX(1); /* Make the line visible */
    }
    
    
    .school-info {
        display: flex;
        align-items: center;
    }
    
    .school-name {
        font-size: 0.9rem;
        font-weight: bold;
        margin-right: 10px;
    }
/*====HEADER==*/
header{
    margin-top: 5rem;
    position: relative;
    top: 5rem;
    overflow:hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 7rem;
    height:100%;

}
.header_left p{
    margin:1rem 0 2.4rem;
    

}
.header_right img{
    backdrop-filter: blur(10px);

}
/*====CATEFGORIES==*/
.categories{
    background: var(--bg1-color);
    height:29rem; 
}
.categories h1{
   line-height:1;
   margin-bottom: 3rem; 
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
   grid-area: 4rem;
} 
 


.categories_left p{
  margin: 1rem 0 3rem;
}
.categories_right{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
}
.category{
    background: var(--bg2-color);
    padding: 2rem;
    border-radius:2rem;
    transition:var(--transition);

}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
.category:nth-child(2).category_icon{
    background:var(--danger-color) ;
}
.category_icon{
    background: var(--bg1-color);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p

{
    font-size: 0.85rem ;
}
.courses{
    margin-top: 10rem;

}
.courses_container{
display: grid;
grid-template-columns: repeat(3, 1fr);
text-align: center;
border:1px solid transparent;
gap:2rem;
}
.course{
    background:var(--bg1-color);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover{
    background: transparent;
    border-color: var(--primary-color);
}
.course_info{
    padding:2rem;
}
.course_info p{
    margin: 1.2em 0 2rem;
    font-size: 0.9rem;
}
/*====TESTIMONIALS==*/
.testimonials_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;

}
.testimonials{
    padding-top: 2rem;
}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--bg1-color);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background:orange;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial_body::before{
    content: "";
    display: block;
    background:linear-gradient(135deg,transparent,orange,orange,orange);
    width:3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform:rotate(45deg);

}
/*====Tablets media queries==*/
@media screen and (max-width: 1024px){
.container{
    width: var(--container-width-md)
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
/*NAVBAR*/
nav button{
display:inline-block;
background: transparent;
font-size: 1.8rem;
color:var(--white-color);
cursor: pointer;}
nav button#close-menu-btn{
display:none;
}
.nav_menu{
    position:fixed;
    top:5rem;
    right:5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
}
.nav_menu li{
    width:100%;
    height: 5.8rem;
    animation: animateNavItem 400ms linear forwards;
    transform-origin:top right;

}
.nav_menu li:nth-child(2){
    animation-delay: 200ms;
}

.nav_menu li:nth-child(3){
    animation-delay: 400ms;
}

.nav_menu li:nth-child(4){
    animation-delay: 600ms;
}


@keyframes animateNavItems {
    0%{ 
        transform: rotateZ(-90deg) rotateX(90deg)scale(0.1);

    }
   100%{
      transform: rotateZ(0)rotateX(0)scale(1);
      opacity: 1;
   }
}
.nav_menu li a{
    background: var(--bg1-color);
    box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}
.nav_menu li a:hover{
    background: orange;
    color: var(--white-color);

}
    


}
/*header */
header{
    height: 52vh;
    margin-bottom: 4rem;
}
.header_container{
    gap:0;
    padding-bottom: 3rem;
}
/*categories */
.categories{
    height:auto;
}
.categories_container{
    grid-template-columns: 1fr;
    gap: 3rem;

}
.categories_left{
    margin-right: 0;
}
.courses{
    margin: top 0;
}
.courses_container{
    grid-template-columns: 1fr 1fr;
}

/*footer*/
.footer{
    grid-template-columns: 1fr 1fr;
}
/*====Phone media queries==*/
@media screen and (max-width: 600px){
.container{
    width: var(--container-width-sm);
}
/*navbar*/
.nav_menu{
    right: 3%;
}
/*header*/
.header_container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
}
.header_left p{
    margin-bottom: 1.3rem;
}

/*categories*/
.categories_right{
    grid-template-columns: 1fr 1fr;
    gap:0.7rem
}
.category{
    padding: 1rem;
    border-radius: 1rem;
}
.category_icon{
    margin-top: 4px;
    display: inline-block;
}
/*cources/achievements*/
.courses_container{
    grid-template-columns: 1fr;
}
/*testimonials*/
.testimonial_body{
    padding: 1.2rem;
}

/*footer*/
.footer{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
}


}
    

.footer {
    background-color: var(--bg1-color);
    color: #fff;
    text-align: center;
    padding: 7rem;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 0;
}

.footer-line {
    border-top: 1px solid #fff;
    margin: 10px 0;
    width: 100%;
}

.footer-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons-row a {
    margin: 10px;
    font-size: 24px;
}