* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid red; */
}

/* main section styling */

/* landing section styling */
.landing {
    min-height: 75vh;
    background-image: url(../images/nalondo8.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

}

.landing .slides {
    background-color: rgb(9, 9, 143, .5);
    min-height: 75vh;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;

}

.landing .slides .slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.landing .slides .slide .welcome{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}
.landing .slides .slide .banner{
    font-size: 3rem;
    font-weight: 900;
    background-color: blue;
    padding: 1rem;
}
 .landing nav{
    position: absolute;
    /* background-color: orange; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.landing nav a{
text-decoration: none;
color: white;
margin: 1rem;
}

/* brief section styling */
.brief{
    display: flex;
    justify-content: space-evenly ;
}
.brief .card {
    max-width: 27%;
    text-align: center;
    margin: 4rem 0;
}
.brief .card .icon{
    /* border: 1px solid red; */
}
.brief .card .desc{
    text-align: justify;
}
.brief .card .desc h3{
    font-size: 1.5rem;
    text-align: center;
}
.brief .card .desc p{
    font-size: 1rem;
}

/* news section styling */
.news{
    background-image: url(../images/nalondo6.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        
        
}
.news .blue-bg-color{
    background-color: rgb(9, 9, 143, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news .heading{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem;
}
.news .content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid red; */
    row-gap: 1rem;
}

.news .content article{
    /* max-width: 27%; */
    flex: 0 0 50%;
    display: flex;
}
.news .content article .image{
    /* border: 2px solid red; */
    display: grid;
    place-items: center;
    width: 4rem;

}
.news .content article .image img{
    width: 100%;
}
.news .content article .body{
    padding: 1rem;
}
.news .content article .body h3{
    font-family:'Poppins', sans-serif ;
    text-transform: capitalize;
}
.news .content article .body p{
    line-height: 1.5rem;
}
.news .content article .body span{
    line-height: 1.5rem;
    color: orange;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.news .more{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
.news .more button {
padding: .7rem 1rem;
color: white;
font-weight: 700;
background-color: orange;
border-style: none;
cursor: pointer;
}

/* events section styling */
.event .event-items{
    border: ;
}