*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root{
    --fs-xl:clamp(3rem,6vw,5rem);
    --fs-n:1.5rem;
    --fs-s:1rem;
}

body{
    min-height:100vh;
    max-width:100vw;
    overflow-x:hidden;
    /* border:2px solid red; */
  
}
html{
    scroll-behavior:smooth;
}

.main-container{
    /* border:2px solid green; */
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
}

.intro-div{
    width:100%;
    /* background:yellow; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image:url(/images/nalondo2.jpeg);
    /* background:rgba(0,0,0,.4); */
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
    margin-bottom:5vh;
    padding:5%;
}

.intro-div::after{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    position:absolute;
    content:"";
}


.video{
    /* position:absolute;
    z-index:-1;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
    /* min-width:100%; */
    /* min-height:100%; */
    /* width:100%;
    height:100%; */
    /* border:2px solid red; */
}

.intro-div h1{
    margin-bottom:5%;
    color:white;
    /* border:2px solid red; */
    text-align: center;
    z-index:1;
    font-size:var(--fs-xl);
}

.intro-div button{
    /* padding:1% 2.5%; */
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    background:transparent;
    outline:1px solid blue;
    border-radius:10%;
    padding:1% 5%;
    z-index:2;
    position:relative;

}

.intro-div button:hover{
    cursor:pointer;
}

.intro-div button span{
    width:100%;
    height:0%;
    position:absolute;
    background:blue;
    transition:0.4s;
    left:0;
    top:0;
    z-index:1;

}

.intro-div button:hover span{
    width:100%;
    height:100%;
    border-radius:10%;
    /* background:blue; */
}


.intro-div button:hover a{
    font-weight:bold;
    letter-spacing:0.15rem;
}


.intro-div button a{
    color:white;
    text-decoration:none;
    z-index:4;
    transition:0.3s;
}

.projects{
    width:93%;
    min-height:120vh;
    /* border:2px solid pink; */
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-column-gap:2%;
    grid-row-gap:2%; */
    gap:2.5%;
    place-items:center;
    place-content: center;
    margin-bottom:10vh;
    padding:5% 0%;
    /* padding:2%; */
    /* display:none; */
}

.projects .project{
    height:65vh;
    width:28vw;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* transition:1s; */
    /* border:2px solid red; */
}


@media(max-width:481px){

    .projects{
        display:grid;
        /* border:2px solid red; */
        min-height:100vh;
        padding:2%;
        grid-template-columns: repeat(2,1fr);
    }
/* 
    .projects .project{
        width:88%;
        height:45vh;
        margin-bottom:5%;
    } */
}

@media(max-width:320px){

    .projects{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        /* border:2px solid red; */
        min-height:100vh;
        padding:2%;
    }

    .projects .project{
        width:88%;
        height:45vh;
        margin-bottom:5%;
        /* border:2px solid blue; */
        position:relative;
    }
}



.projects .project-title{
    /* background:rgba(128,128,128,.3); */
    box-shadow:0px 5px 5px rgba(0,0,0,.3);
    background:lightblue;
    /* border:2px solid blue; */
    height:10%;

    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding-left:3%;
    transition:1s;
}




.projects .project-details{
    /* border:2px solid red; */
    position:absolute;
    /* opacity:0; */
    width:100%;
    /* transform: translateX(-100%); */
    height:0%;
    /* right:100%; */
    opacity:0;
    display:flex;
    align-items:flex-end;
    justify-content:flex-start;
    padding-left:3%;
    padding-bottom:2%;
    background: rgba(128,128,128,.65);
    transition:1s;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5%;
}

.project:hover .project-details{
    /* border:2px solid green; */
    opacity:1;
    background:rgba(0,0,0,.8);
    color:white;
    transform: translateX(0);
    height:100%;
    
     
}

.project:hover .project-title{
    /* border:2px solid green; */
    opacity:0;
    height:0%;     
}



.projects .project .image{
    /* border:2px solid green; */
    height:90%;
    width:100%;
    overflow:hidden;
}

.project:hover .image{
    height:100%;
}

.projects .project .image img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    aspect-ratio:16/9;
}






.calendar-intro{
    /* background:pink; */
    text-decoration:underline;
    width:100%;
    padding:1%;
    margin:1% 0%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: var(--fs-n);
}

.calendar{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    background:rgba(0,0,0,.2);
    width:90%;
    min-height:50vh;
    padding:1%;
    /* border:2px solid red; */
}

.calendar .headings{
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border:2px solid red; */
    width:95%;
    margin-bottom:1%;
    padding:1%;
}

.calendar .event{
    /* border:2px solid red; */
    margin:0.35% 0%;
    width:100%;
    height:5vh;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.calendar .date,.calendar .action{
    background:white;
    height:100%;
}

.calendar .date{
    width:30%;
}

.calendar .action{
    width:60%;
}


