* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main section styling */
main .hero {
    background-image: url(../images/achievement2.jpeg);
    min-height: 40vh;

}

main .hero h1 {
    /* border: 2px solid red; */
    min-height: 40vh;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgb(1, 1, 90, .5);

}

main .brief {
    /* min-height: 30vh; */
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

main .brief .box {
    /* background-color: grey; */
    max-width: 50%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 10%;

    .image {
        /* border: 3px solid blue; */
        max-width: 50%;

    }

    .image img {
        width: 100%;
        /* height: 100%; */
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        background-color: aliceblue;
    }
}

/* clubs section styling */
main .clubs {
    display: flex;
    flex-direction: column;
}

main .clubs .heading {
    text-align: center;
}

main .clubs .cards {
    display: flex;
    /* overflow-x: scroll; */
    justify-content: center;
    flex-wrap: wrap;
}

main .clubs .cards .card {
    /* width: 300px; */
    margin: 1rem;
    /* max-width: fit-content; */
    /* max-width: 500px;
    min-width: 300px; */
    flex: 0 0 400px;
    transition: .5s ease;
    position: relative;
    /* border: 2px solid red; */
    overflow: hidden;
    cursor: pointer;

    &:hover .desc {
        top: 0;
        background-color: rgb(0, 15, 69, .5);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &:hover .desc p {
        opacity: 1;
    }
}

main .clubs .cards .card .image {
    width: 100%;
}

main .clubs .cards .card .image img {
    width: 100%;
}

main .clubs .cards .card .desc {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(0, 15, 69);
    transition: .5s ease;
    padding: 1rem;
}

main .clubs .cards .card .desc h3 {
    /* font-size: 1.8rem; */
    margin-bottom: 1rem;

}

main .clubs .cards .card .desc p {
    /* font-size: 1.5rem; */
    opacity: 0;
    transition: .5s ease;
    /* text-align: center; */
}

/* record section styling */
main .record .banner {
    width: 100%;
    padding: 3rem;
}

main .record .banner h1 {
    /* background-color: rgb(214, 214, 214); */
    /* color: white; */
    padding: 3rem;
    text-align: center;
    animation: float 6s ease-in-out infinite;
    border: 2px solid rgb(0, 0, 47);
}

main .record .banner h1 span {
    background-color: rgb(0, 0, 47);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    padding: 1.5rem;
    margin: 1rem;
    color: white;
    
    
}

/* student leader section styling */
main .student-leaders {
    /* background: blue; */
    padding: 3rem;
}


/* religion section styling */
main .religion{
    background-color: red;
}
main .religion .container{
    position: relative;
}
main .religion .container .text{
position: absolute;
background-color: rgba(0, 0, 41, 0.71);
color: white;
backdrop-filter: blur(10px);
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
main .religion .container video{
    width: 100%;

}                                                  
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,1);
		transform: translateY(0px);
        background-color: rgb(230, 184, 0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translateY(-20px);
        background-color: rgb(0, 0, 47);
        color: white;
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,1);
		transform: translateY(0px);
        background-color: rgb(230, 184, 0);
	}
}
